{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore"
}
